
<div id="top-container">
    <div id="fund-status">
        <div class="image"></div>
        <p id="fund-amount">$10,000 raised of $15,000 goal</p>
        <div class="fund-status-bar"></div>
        <p id="fund-doners"> 222 Doners</p>
        <p id="fund-shares"> 222 Shares</p>
    </div>
    <div id="action">
        <button>SHARE</button>
        <button>DONATE</button>

    </div>
</div>

<div id="middle-container">
    <div id="fundraiser-info">
        <p>Created 2 days ago</p>
        <div class="line"></div>
        <p>Funerals & Memorials </p>
    </div>
    <div id="donation-list">
        <div class="individual-donation">
            <p>Timmy Pham</p>
            <p>$15 - 1 min</p>
        </div>
        <div class="individual-donation">
            <p>Timmy Pham</p>
            <p>$15 - 1 min</p>
        </div>
        <div class="individual-donation">
            <p>Timmy Pham</p>
            <p>$15 - 1 min</p>
        </div>
        <div class="individual-donation">
            <p>Timmy Pham</p>
            <p>$15 - 1 min</p>
        </div>
        <p></p>
    </div>
</div>

<div id="updates">
    <p>Updates (1) </p>
    <p>YESTERDAY by Elva Chen </p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ac elementum sit nunc, at cras justo. </p>
</div>
<div id="navbar">
</div>