<div>
    <mat-tab-group mat-stretch-tabs id="resources-options">
        <mat-tab label="Counselors">
        <div class="box">
            <mat-card (click)="goToUrl()" class="resource-card">
                <strong>Psych Central</strong> 
            </mat-card>
            <mat-card (click)="goToUrl()" class="resource-card">
                <strong>Seize the awkward</strong> 
            </mat-card>
            <mat-card  class="resource-card">
                <strong>Head Space</strong> 
            </mat-card>
            <mat-card (click)="goToUrl()" class="resource-card">
                <strong>More Resources Coming</strong> 
            </mat-card>
        </div>
        </mat-tab>
        <mat-tab label="Group Therapy">
        <div class="box">
            <mat-card (click)="goToUrl()" class="resource-card">
                <strong>Seize the awkward</strong> 
            </mat-card>
            <mat-card (click)="goToUrl()" class="resource-card">
                <strong>More Resources Coming</strong> 
            </mat-card>
        </div>
        </mat-tab>
        <mat-tab label="COVID-19">
            <div class="box">
                <mat-card (click)="goToUrl()" class="resource-card">
                    <strong>More Resources Coming</strong> 
                </mat-card>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>