<div id="resources-options">
    <div>
        <p>Counselors</p>
    </div>
    <div>
        <p>Group Therapy</p>
    </div>
    <div>
        <p>COVID-19</p>
    </div>
</div>
<div id="resources-cards">
    <div class="resource-card">
        <p>Seize the awkward</p>
    </div>
    <div class="resource-card">
        <p>Psych Central</p>
    </div>
    <div class="resource-card">
        <p>Headspace</p>
    </div>
    <div class="resource-card">
        
    </div>
    <div class="resource-card">
        
    </div>
</div>