#resources-options {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    border-radius: 8px;
}

div {
    display: flex;
    justify-content: center;
}

.resource-card {
    background-color: #c4c4c4;
    display: inline-block;
    margin: 20px 15px;
    text-align: center;
}

.box {
    display: flex;
    justify-content: space-evenly;
    height: 100%;
    flex-flow: row wrap;
}
