div {
    display: flex;
    justify-content: center;
    height: 100%;
    background-color: #4E7083;
}

.resource-card {
    background-color: #c4c4c4;
    margin: 20px 15px;
    text-align: center;
    width: 200px;
}

.box {
    display: flex;
    justify-content: space-evenly;
    height: 100%;
}
#resources-options {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    border-radius: 8px;
}

#img {
    background-color: white;
}
