<h2>Hi Jane, we are here to help.</h2>
<div>
    <mat-card class="card" [routerLink]="['/memories']">
        <mat-card-header>
            <mat-card-title>Memorial</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>
                Visit John Smith’s memorial page <br>
                Share photos & videos
            </p>
      </mat-card-content>
    </mat-card>
    <mat-card class="card" [routerLink]="['/fundraise']">
        <mat-card-header>
            <mat-card-title>Fundraiser</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>
                Share fundraiser to social media <br>
                Donate to support the family
            </p>
        </mat-card-content>
    </mat-card>
    <mat-card class="card" [routerLink]="['/zoom']">
        <mat-card-header>
            <mat-card-title>Zoom</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>
                Schedule Counseling Sessions <br>
                Attend Funeral Service
            </p>
        </mat-card-content>
    </mat-card>
    <mat-card class="card" [routerLink]="['/resources']">
        <mat-card-header>
            <mat-card-title>Mental Health</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>
                Learn more about grief and acceptance <br>
                Connect to counselors
            </p>
        </mat-card-content>
    </mat-card>
</div>