.card {
    background-color: #FFFFFF;
    margin: 20px 15px;
    text-align: center;
    width: 200px;
    height: auto;
}

h2 {
    text-align: center;
}

div {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 92%;
    background-color: #4E7083;
}

mat-card-content p  {
    color: #8B8B8B;
}


.cloud li {
    list-style-type: none;
}

.cloud li:nth-of-type(3n + 1) {
    font-size: 1.7em;
    color: pink;
}
.cloud li:nth-of-type(4n + 3) {
    font-size: 1.5em;
    color: lightblue;
}
.cloud li:nth-of-type(7n - 3) {
    font-size: 2em;
    color: peach;
}
.cloud li:nth-of-type(6n + 2) {
    font-size: 1em;
    color: grey;
}